*.swp
*.swo

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
allFiredEvents
scTopics

# Coverage directory used by tools like istanbul
coverage
coverage.json

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

# package-lock is local
package-lock.json

# Debug log from npm
npm-debug.log

# local env variables
.env

# truffle build directory
build/

#blochain directory
chains/

# lol macs
.DS_Store/
